<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzdnet.learn.springboot.dao.UserMapper">

    <resultMap id="baseRM" type="com.bzdnet.learn.springboot.entity.UserEntity">
        <id column="id_" property="id" />
        <result column="account_" property="account"/>
        <result column="age_" property="age"/>
        <result column="disabled_" property="disabled"/>
    </resultMap>

    <select id="selectListBetweenAge" resultMap="baseRM">
        select id_,account_,age_,disabled_
        where age_ between #{min} and #{max}
    </select>

</mapper>
